<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/pseudocode.min.css" type="text/css">
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" type="text/javascript"></script>
<script src="/assets/js/pseudocode.min.js" type="text/javascript"></script>

<script>
 var blocks = document.getElementsByClassName("pseudocode");
 for(var blockId = 0; blockId < blocks.length; blockId++) {
     var block = blocks[blockId];
     var code = block.textContent;
     var options = {
         lineNumber: true
     };
     var outputEl = document.createElement('div');
     outputEl.className += " pseudocode-out";
     block.parentNode.insertBefore(outputEl, block.nextSibling);
     pseudocode.render(code, outputEl, options);
 }
 while( blocks[0]) {
     blocks[0].parentNode.removeChild(blocks[0]);
 }
</script>
