<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {% include footer.html %}

    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    {% if page.custom_css %}
    {% for ss in page.custom_css %}
    <link rel="stylesheet" href="{{ ss }}" type="text/css">
    {% endfor %}
    {% endif %}

    {% if page.custom_js %}
    {% for js in page.custom_js %}
    <script src="{{ js }}" type="text/javascript"></script>
    {% endfor %}
    {% endif %}

    {% include render_pseudocode.html %}

</body>

</html>
